@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

ul{
    list-style: none;
}

a:active, a:visited, a:hover{
    color: inherit !important;
    text-decoration: none !important;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

.top-head{
    background-color: #000000;
    width:100%;
    height:100px;
    position: absolute;
    opacity:0.8;
    z-index:10;
}

.top-text{
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 700;
}

.head-main{
    width: 100%;
    height: 500px;
    background-color: rgba(10,122,219,05);
    background: url("../images/top-bg.jpg") no-repeat center;
    position: inherit;

}


.head-main-color{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: rgba(10,122,219,0.4);
}


.head-main-color .blank{
    height: 100px;
}

.head-main-color .text .t01{
    color: #fff;
    font-size: 95px;
    font-family: 'Open Sans';
    text-align: center;
    padding-left: 20px;
}

.t02{
    font-size: 20px;
    font-family: 'Open Sans';
    color: #525252;
    text-align: center;
    font-weight: bold;
    background-color: white;
    width: 720px;
}

.bt-contri{
    font-size: 20px;
    font-family: 'Open Sans';
    color: #fff;
    text-align: center;
    width: 175px;
    height: 50px;
    border: solid #fff thick;
    line-height: 45px;
    padding:10px;
    -moz-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    background-color: #0A7ADB;
}

.bt-contri{
    font-weight: 600;
}

.head-main-color .text .t03{
    padding-left: 250px;

}

.nav-main{
    width: 100%;
    height: 100px;
    background-color: #1c1c1c;
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
 }

.tnav li{
    float: left;
    padding-left: 50px;
    font-family: 'Open Sans';
    font-size: 24px;
    color: #fff;
}


.tnavbar{
    height: 50px;
    padding-top: 25px;
}

.body01{
    height: 500px;
}

.mid01{
    height: 75px;
    background: url("../images/crossword.png");
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

.mid01-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 72px;
}

.text-justy{
    text-align: justify;
}

.mid00{
    height: auto;
    padding-bottom:40px;
}
.img-c01{
    padding-top: 40px;
}

.features ul {
    list-style-image:url("../images/list-icon.png");
    padding-left: 20px;
    font-size: 18px;
}

.features{
    background-color: #F5F4F0;
}

.developer ul{
    list-style-image:url("../images/list-icon02.png");
}