<% layout('layout') -%>

<section class="content-header" trackerid= <%= id%> >
    <h1>
        <%= heading%>
        <small> Control Panel </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= heading%></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
   <div id="googleMap" ></div>
</section>
<!-- /.content -->
    
